'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hugo'
      'submenu': [
        {
          'label': 'New'
          'command': 'atom-hugo:new'
        }
        {
          'label': 'New site'
          'command': 'atom-hugo:new-site'
        }
        {
          'label': 'Build'
          'command': 'atom-hugo:build'
        }
        {
          'label': 'Server'
          'command': 'atom-hugo:server'
        }
        {
          'label': 'Kill server'
          'command': 'atom-hugo:kill-server'
        }
      ]
    ]
  }
]
